
 
  <mat-toolbar
  id="grigio"
  style="height: 2rem"
  class="d-flex justify-content-between align-items-center col-md-2"
>
  <div class="d-flex align-items-center">
    <a href="" class="navbar-brand ms-2 ms-sm-5">
      <img
        src="assets/img/icons8-air-jordan-32.png"
        alt=""
        class="img-fluid"
        style="width: 20px"
      />
    </a>
    <a href="" class="navbar-brand ms-2 ms-sm-4">
      <img
        src="assets/img/energy.png"
        alt=""
        class="img-fluid"
        style="width: 20px"
      />
    </a>
  </div>
  <div class="d-flex">
    <a href="" class="nav-link me-2"><h6 class="fs-6">Trova un negozio |</h6></a>
    <a href="" class="nav-link me-2"><h6 class="fs-6">Aiuto |</h6></a>
    <a href="" class="nav-link me-2"><h6 class="fs-6">Unisciti a noi |</h6></a>
    <a href="" class="nav-link me-2"><h6 class="fs-6">Accedi</h6></a>
  </div>
</mat-toolbar>

<nav
  class="navbar navbar-expand-lg navbar-light bg-light "

>
  <div class="container-fluid ">
    <div class="container-fluid">
      <a href="" class="navbar-brand ms-2 ms-sm-5">
        <img src="assets/img/icons8-nike-50.png" alt="" class="img-fluid" />
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarExampleOnHover"
      aria-controls="navbarExampleOnHover"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-bs-auto-close="outside"
     
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid collapse navbar-collapse"  id="navbarExampleOnHover">
      <ul class="navbar-nav me-auto ps-lg-0">
        <li class="nav-item dropdown dropdown-hover position-static" >
          <a data-mdb-dropdown-init class="nav-link dropdown" href="#" id="navbarDropdown" role="button"
			  data-mdb-toggle="dropdown" aria-expanded="false">
			  Novità e in evidenza
			</a>
      <div class="dropdown-menu w-100 " aria-labelledby="navbarDropdown" style="border-radius: 0;border-right: 1px solid white;border-top:none;"
							  >
  
			  <div class="container  w-50">
				<div class="row  ">
				  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
					<div class="list-group list-group-flush  ">
            <a href="" class="nav-link fs-6">in evidenza</a>
					  <a routerLink="nuoviarrivi" class="nav-link fs-6">tutti i nuovi arrivi</a>
					  <a routerLink="bestseller" class="nav-link fs-6">best seller</a>
					  <a href="" class="nav-link fs-6">calendario dei lanci SNKRS</a>
					  <a href="" class="nav-link fs-6">divise delle nazionali 2024</a>
					 
					</div>
				  </div>
				  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
					<div class="list-group list-group-flush">
            <a href="" class="nav-link fs-6">scopri le icone </a>
					  <a href="" class="nav-link fs-6">air force 1</a>
					  <a href="" class="nav-link fs-6">air jordan 1</a>
					  <a href="" class="nav-link fs-6">air max</a>
					  <a href="" class="nav-link fs-6">dunk</a>
            <a href="" class="nav-link fs-6">blazer</a>
            <a href="" class="nav-link fs-6">pegasus</a>
            <a href="" class="nav-link fs-6">mercurial</a>
					
					</div>
				  </div>
				  <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
					<div class="list-group list-group-flush">
					  <a href="" class="nav-link fs-6">scopri lo sport</a>
					  <a href="" class="nav-link fs-6">calcio</a>
					  <a href="" class="nav-link fs-6">running</a>
					  <a href="" class="nav-link fs-6">basket</a>
					  <a href="" class="nav-link fs-6">fitness</a>
            <a href="" class="nav-link fs-6">golf</a>
            <a href="" class="nav-link fs-6">tennis</a>
            <a href="" class="nav-link fs-6">yoga</a>
            <a href="" class="nav-link fs-6">danza</a>
            <a href="" class="nav-link fs-6">skatebord</a>
					</div>
				  </div>
				  <div class="col-md-6 col-lg-3">
					<div class="list-group list-group-flush">
            <a href="" class="nav-link fs-6">di tendenza</a>
					  <a href="" class="nav-link fs-6">air max home</a>
					  <a href="" class="nav-link fs-6">sneakers Y2K</a>
					  <a href="" class="nav-link fs-6">nike style by</a>
					  <a href="" class="nav-link fs-6">collezione jordan retro</a>
            <a href="" class="nav-link fs-6">teenager</a>
            <a href="" class="nav-link fs-6">EasyOn</a>
            <a href="" class="nav-link fs-6">idee regalo nike</a>
            <a href="" class="nav-link fs-6">Sostenibilita</a>
            
					</div>
				  </div>
				</div>
			  </div>
			</div>
        
          
        </li>
        <li class="nav-item dropdown dropdown-hover position-static">
          <a data-mdb-dropdown-init class="nav-link dropdown" href="#" id="navbarDropdown" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">Uomo</a>
          <div class="dropdown-menu w-100 " aria-labelledby="navbarDropdown" style="border-radius: 0;border-right: 1px solid white;border-top:none;"
          >

  <div class="container  w-50">
  <div class="row  ">
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
    <div class="list-group list-group-flush  ">
      <a href="" class="nav-link fs-6">in evidenza</a>
      <a href="" class="nav-link fs-6">novita</a>
      <a href="" class="nav-link fs-6">best seller</a>
      <a href="" class="nav-link fs-6">Air Max Home</a>
      <a href="" class="nav-link fs-6">Sneakers Y2K</a>
      <a href="" class="nav-link fs-6">divise delle nazionali 2024</a>
     
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">scarpe</a>
      <a href="" class="nav-link fs-6">tutte le scarpe</a>
      <a href="" class="nav-link fs-6">Lifestyle</a>
      <a href="" class="nav-link fs-6">jordan</a>
      <a href="" class="nav-link fs-6">running</a>
      <a href="" class="nav-link fs-6">calcio</a>
      <a href="" class="nav-link fs-6">Basket</a>
      <a href="" class="nav-link fs-6">Fitness e training</a>
      <a href="" class="nav-link fs-6">skateboard</a>
      <a href="" class="nav-link fs-6">nike by you</a>
    
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">scopri lo sport</a>
      <a href="" class="nav-link fs-6">calcio</a>
      <a href="" class="nav-link fs-6">running</a>
      <a href="" class="nav-link fs-6">basket</a>
      <a href="" class="nav-link fs-6">fitness</a>
      <a href="" class="nav-link fs-6">golf</a>
      <a href="" class="nav-link fs-6">tennis</a>
      <a href="" class="nav-link fs-6">yoga</a>
      <a href="" class="nav-link fs-6">danza</a>
      <a href="" class="nav-link fs-6">skatebord</a>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">di tendenza</a>
      <a href="" class="nav-link fs-6">air max home</a>
      <a href="" class="nav-link fs-6">sneakers Y2K</a>
      <a href="" class="nav-link fs-6">nike style by</a>
      <a href="" class="nav-link fs-6">collezione jordan retro</a>
      <a href="" class="nav-link fs-6">teenager</a>
      <a href="" class="nav-link fs-6">EasyOn</a>
      <a href="" class="nav-link fs-6">idee regalo nike</a>
      <a href="" class="nav-link fs-6">Sostenibilita</a>
      
    </div>
    </div>
  </div>
  </div>
</div>
          
        </li>
        <li  class="nav-item dropdown dropdown-hover position-static">
          <a data-mdb-dropdown-init class="nav-link dropdown" href="#" id="navbarDropdown" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">Donna</a>
          <div class="dropdown-menu w-100 " aria-labelledby="navbarDropdown" style="border-radius: 0;border-right: 1px solid white;border-top:none;"
          >

  <div class="container  w-50">
  <div class="row  ">
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
    <div class="list-group list-group-flush  ">
      <a href="" class="nav-link fs-6">in evidenza</a>
      <a href="" class="nav-link fs-6">novita</a>
      <a href="" class="nav-link fs-6">best seller</a>
      <a href="" class="nav-link fs-6">nike style by</a>
      <a href="" class="nav-link fs-6">air max home</a>
      <a href="" class="nav-link fs-6">sneakers Y2K</a>
      <a href="" class="nav-link fs-6">teenager</a>
      <a href="" class="nav-link fs-6">divise delle nazionali 2024</a>
      <a href="" class="nav-link fs-6">festa della mamma</a>
     
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">scarpe</a>
      <a href="" class="nav-link fs-6">tutte le scarpe</a>
      <a href="" class="nav-link fs-6">Lifestyle</a>
      <a href="" class="nav-link fs-6">jordan</a>
      <a href="" class="nav-link fs-6">running</a>
      <a href="" class="nav-link fs-6">calcio</a>
      
      <a href="" class="nav-link fs-6">Fitness e training</a>
      
      <a href="" class="nav-link fs-6">nike by you</a>
    
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">abbigliamento</a>
      <a href="" class="nav-link fs-6">tutto l abbigliamento</a>
      <a href="" class="nav-link fs-6">magle e t-shirt</a>
      <a href="" class="nav-link fs-6">felpe</a>
      <a href="" class="nav-link fs-6">leggings</a>
      <a href="" class="nav-link fs-6">shorts</a>
      <a href="" class="nav-link fs-6">pantaloni</a>
      <a href="" class="nav-link fs-6">set coordinati</a>
      <a href="" class="nav-link fs-6">giacche</a>
      <a href="" class="nav-link fs-6">reggiseni sportivi</a>
      <a href="" class="nav-link fs-6">gonne e abiti</a>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">Scopri lo sport</a>
      <a href="" class="nav-link fs-6">fitness</a>
      <a href="" class="nav-link fs-6">running</a>
      <a href="" class="nav-link fs-6">calcio</a>
      <a href="" class="nav-link fs-6">basket</a>
      <a href="" class="nav-link fs-6">tennis</a>
      <a href="" class="nav-link fs-6">danza</a>
      <a href="" class="nav-link fs-6">yoga</a>
      <a href="" class="nav-link fs-6">golf</a>
      
    </div>
    </div>
    
  </div>
  </div>
</div>
        </li>
        <li class="nav-item dropdown dropdown-hover position-static">
          <a  data-mdb-dropdown-init class="nav-link dropdown" href="#" id="navbarDropdown" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false" >Kids</a>
          <div class="dropdown-menu w-100 " aria-labelledby="navbarDropdown" style="border-radius: 0;border-right: 1px solid white;border-top:none;"
          >

  <div class="container  w-50">
  <div class="row  ">
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
    <div class="list-group list-group-flush  ">
      <a href="" class="nav-link fs-6">in evidenza</a>
      <a href="" class="nav-link fs-6">novita</a>
      <a href="" class="nav-link fs-6">best seller</a>
      <a href="" class="nav-link fs-6">teenager</a>
      <a href="" class="nav-link fs-6">Air Max Home</a>
      <a href="" class="nav-link fs-6">Haaland force9</a>
      <a href="" class="nav-link fs-6">Divise delle nazionali 2024</a>
     
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">scarpe</a>
      <a href="" class="nav-link fs-6">tutte le scarpe</a>
      <a href="" class="nav-link fs-6">Lifestyle</a>
      <a href="" class="nav-link fs-6">jordan</a>
      <a href="" class="nav-link fs-6">running</a>
      <a href="" class="nav-link fs-6">calcio</a>
      <a href="" class="nav-link fs-6">Basket</a>
      
    
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">abbigliamento</a>
      <a href="" class="nav-link fs-6">tutto l'abbigliamento</a>
      <a href="" class="nav-link fs-6">magle e t-shirt</a>
      <a href="" class="nav-link fs-6">felpe</a>
      <a href="" class="nav-link fs-6">tute</a>
      <a href="" class="nav-link fs-6">shorts</a>
      <a href="" class="nav-link fs-6">abbigliamento sportivo</a>
      <a href="" class="nav-link fs-6">pantaloni e leggings</a>
      <a href="" class="nav-link fs-6">giacche</a>
      <a href="" class="nav-link fs-6">divise e maglie</a>
      <a href="" class="nav-link fs-6">gonne e abiti</a>
    </div>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">Kids per età</a>
      <a href="" class="nav-link fs-6">ragazzo/a(7-15 anni)</a>
      <a href="" class="nav-link fs-6">bambino/a(3-7 anni)</a>
      <a href="" class="nav-link fs-6">bebè e bimbo/a(0-3 anni)</a>
      
      
    </div>
    </div>
    
  </div>
  </div>
</div>
        </li>
        <li class="nav-item d-none-lg nav-item dropdown dropdown-hover position-static">
          <a data-mdb-dropdown-init class="nav-link dropdown" href="#" id="navbarDropdown" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">Outlet</a>
          <div class="dropdown-menu w-100 " aria-labelledby="navbarDropdown" style="border-radius: 0;border-right: 1px solid white;border-top:none; "
          >

  <div class="container  w-50">
  <div class="row  ">
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
    <div class="list-group list-group-flush  ">
      <a href="" class="nav-link fs-6">sconti e offerte</a>
      <a href="" class="nav-link fs-6 disabled">tutti gli articoli in sconto</a>
      <a href="" class="nav-link fs-6">best seller</a>
      <a href="" class="nav-link fs-6">ultima occasione</a>
     
     
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
    <div class="list-group list-group-flush">
      <a href="" class="nav-link fs-6">sconti per lui</a>
      <a href="" class="nav-link fs-6">tutti gli articoli in sconto-uomo</a>
      <a href="" class="nav-link fs-6">scarpe</a>
      <a href="" class="nav-link fs-6">abbigliamento</a>
      <a href="" class="nav-link fs-6">Accessori</a>
      
    
    </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
      <div class="list-group list-group-flush">
        <a href="" class="nav-link fs-6">sconti per lei</a>
        <a href="" class="nav-link fs-6">tutti gli articoli in sconto-donna</a>
        <a href="" class="nav-link fs-6">scarpe</a>
        <a href="" class="nav-link fs-6">abbigliamento</a>
        <a href="" class="nav-link fs-6">Accessori</a>
        
      
      </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
        <div class="list-group list-group-flush">
          <a href="" class="nav-link fs-6">sconti per bambini</a>
          <a href="" class="nav-link fs-6">tutti gli articoli in sconto-kids</a>
          <a href="" class="nav-link fs-6">scarpe</a>
          <a href="" class="nav-link fs-6">abbigliamento</a>
          <a href="" class="nav-link fs-6">Accessori</a>
          
        
        </div>
        </div>
      
  </div>
  </div>
</div>
        </li>
      </ul>
    </div>
  </div>

  <form class="d-flex" >
    <button
      id="basic-addon1"
      class="btn btn-light btn-lg rounded-circle"
      type="submit"
      style="margin-right: -40px; z-index: 1000; cursor: pointer"
    >
      <img src="assets/img/lente.png" alt="Search" style="width: 20px" />
    </button>
    <input
      class="form-control rounded-pill"
      aria-describedby="basic-addon1"
      type="search"
      placeholder="cerca"
      aria-label="Search"
      style="padding-left: 40px"
    />
  </form>
  <div class="d-flex">
    <a href="" class="navbar-brand">
      <img
        src="assets/img/preferiti.png"
        alt=""
        class="img-fluid"
        style="width: 40px"
      />
    </a>
   
      <a [routerLink]="['/carello']" class="navbar-brand">
        <img src="assets/img/icons8-shopping-bag-32.png" alt="Carrello" class="img-fluid" style="width: 30px">
      </a>
     
    </div>
  
</nav>

<div
  id="grigio"
  class="carousel slide"
  color="grey"
  style="height: 3.5rem"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <a href="#link1" class="nav-link text-center"
          ><h4>Iniziano i Member Days</h4>
          <h6 class="">Dai un'occhiata al Member Shop per scoprire il lancio esclusivo di oggi. <a href="#" class="link-dark">Fai acquisti con noi.</a></h6></a
        >
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <a href="#link2" class="nav-link"><h4>Tutti i nuovi arrivi</h4><h6 class="text-center"><a href="#" routerLink="/nuoviarrivi" class="link-dark">Acquista</a></h6></a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <a href="#link3" class="nav-link"><h4 class=" text-center">Consegna e resi gratuiti</h4><h6>Per i Member Nike, consegna e resi gratuiti entro 30 giorni. <a href=""class="link-dark" >Scopri di più. Unisciti a noi</a></h6></a>
      </div>
    </div>
  </div>
</div>







 