.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.carrello-container {
  flex: 2;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 8px;
  background-color: #f9f9f9;
  
}

.riepilogo-container {
  flex: 1;
  margin-left: 20px;
  padding: 20px;
  
  border-radius: 8px;
  background-color: #f8f9fa;
  
  
}

.carrello-card {
  display: flex;
  justify-content: flex-start; /* Allinea tutto a sinistra */
  border-bottom: solid 1px #757575;
 
}

.carrello-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 30px; /* Aggiungi un po' di spazio tra l'immagine e i dettagli */
  
}



.details {
  display: flex;
  flex-direction: column;

}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 0.5rem;
}

