<div class="container-fluid sparisci">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="dropdown-container">
        <div class="dropdown">
          <button
            class="btn dropdown m-3"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            scarpe
            <a href="#" class="rox col nav-link">scarpe da golf</a>
            <a href="#" class="row col nav-link">Sneakers invernali</a>
            <a href="#" class="row col nav-link">Scarpe GORE-TEX</a>
            <a href="#" class="row col nav-link">Scarpe per camminare</a>
          </button>

          <button
            class="btn btn dropdown m-3"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Abbigliamento
            <a href="#" class="row col nav-link">Tutto l'abbigliamento</a>
            <a href="#" class="row col nav-link">Pantaloni da yoga</a>
            <a href="#" class="row col nav-link">Joggers Tech Fleece</a>
            <a href="#" class="row col nav-link">Pantaloni Tech Fleece</a>
          </button>

          <button
            class="btn btn dropdown mb-4"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Bambini
            <a href="#" class="row col nav-link">Slider per bambini</a>
            <a href="#" class="row col nav-link">Tuta per bambini in saldo</a>
            <a href="#" class="row col nav-link"
              >Giubbotto imbottito per bambini</a
            >
          </button>

          <button
            class="btn btn dropdown m-3"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            In evidenza
            <a href="#" class="row col nav-link">Squadre di calcio</a>
            <a href="#" class="row col nav-link">Calcio</a>
            <a href="#" class="row col nav-link">Nike Run Club</a>
            <a href="#" class="row col nav-link">Nike Training Club</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
